!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### vscode ###
# .vscode

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### CLion ###
cmake-build-debug
cmake-build-release
clion_*
cmake_*
*_repl

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/


### Python ###
# Byte-compiled / optimized / DLL files
img/
file/
__pycache__/
*.py[cod]
.ipynb_checkpoints

# C extensions
*.so

# Distribution / packaging
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
bin/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
web/static/
web/templates/

# PyBuilder
target/

# 本地测试数据
*.pickle
*.xlsx
data
*.pdf
intellij_idea_demo

ui/ae/tmp